@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), serif;
  overscroll-behavior: none;
}

html {
  overscroll-behavior: none;
}

h1 {
  font-family: var(--font-serif), serif;
  color: #000;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-serif), serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
}

h3 {
  font-family: var(--font-serif), serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #000000;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
